.App {
  text-align: center;
}

.Loading {
  animation: Loading-spin infinite 5s linear;
  height: 40vmin;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 25px 5px 5px 55px;
  font-size: 1em;
  /* position: absolute; */
  width: 200px;
  height: 200px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes Loading-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
